# http://lint.travis-ci.org/
sudo: true

language: node_js

node_js:
    "stable"

cache:
    directories: node_modules

before_install:
    curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
    export PATH=$HOME/.yarn/bin:$PATH
cache:
    yarn: true

script:
    yarn test -- --coverage
    yarn build

after_script:
    COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls

deploy:
    provider: surge
    project: ./build
    domain: webernote.surge.sh
    skip_cleanup: true
    on:
        master
        build-path

    provider: surge
    project: ./build
    domain: webernote-dev.surge.sh
    on:
        all_branches: true

