# http://lint.travis-ci.org/
sudo: true
language: node_js
node_js:
    "stable"
cache:
    directories: node_modules
script:
    npm test -- --coverage
    npm run build
# after_script:
    # COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls#
deploy:
    provider: surge
    project: ./build
    domain: webernote.surge.sh
    skip_cleanup: true
    on:
        master
        build-path
