sudo: true
language: node_js
node_js:
    "stable"
cache:
    yarn: true
    directories:
        node_modules
script:
    npm test
    npm run build
before_deploy:
    yarn build
deploy:
    provider: surge
    project: ./build/
    domain: webernote.surge.sh
    skip_cleanup: true
    on:
        branch: master
