# http://lint.travis-ci.org/
sudo: true

language: node_js

node_js:
    "stable"

cache:
    directories: node_modules

before_install:
    curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
    export PATH=$HOME/.yarn/bin:$PATH

cache:
    yarn: true

script:
    npm test -- --coverage
    npm run build

deploy:
    provider: surge
    project: ./build
    domain: webernote.surge.sh
    skip_cleanup: true
    on:
        master
        build-path
