@import './_common.scss';

/* Base Element Styles */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 0%, 0.5);
}

::-webkit-scrollbar-track {
	background: rgb(216, 227, 228);
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 9999px #fff;
}

body * {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/22px "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
    padding: 0;
    margin: 2px 10px 0 10px;
}

a {
    color: $pink;
    text-decoration: none;

    &:hover {
        color: $blue;
    }
}

h1, h2, h3, h4, h5 {
    color: #333;
    font-size: 18px;
    font-family: "Myriad Pro", "Helvetica";
}

h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0 0 0.5em;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

:focus { outline: none; }

label { color: #0361ae; }

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.menu,
ol,
ul {
    padding: 0 0 0 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;

    ul,
    li {
        display: inline-block;
        width: auto;
    }

    ul ul {
        margin-left: 20px;
    }

    a {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 4px 0;
    }
}

header {
	display: inline-block;
    padding: 0 0 3px 0;
    margin: 0;
    width: 100%;
    height: 28px;
}

sup {
    font-size: 6px;
}

small {
    font-size: 8px;
}

.fa {
    color: #fff;
}
