/* Base Element Styles */

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: #7a7e80;
}

::-webkit-scrollbar-track {
	background: #bccad4;
}

body * {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/22px "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
    padding: 0;
    margin: 10px 2%;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

a {
    color: #E91E63;
    text-decoration: none;
}

a:hover {
    color: #03A9F4;
}


h1 {
    font: 18px "Myriad Pro", "Helvetica";
    padding: 0;
    margin: 0 20px 0 0;
    display: inline-block
}

h2 {
    font: 12px/100% "Myriad Pro", "Helvetica", "Arial", "sans-serif";
    margin: 0 0 0.5em;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

:focus { outline: none; }

label { color: #0361ae; }

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.menu, ol, ul {
    padding: 0 0 0 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav { display: inline-block; }

nav ul,
nav li {
    display: inline-block;
    width: auto;
}

ul ul { margin-left: 20px; }

nav a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 0;
}

header {
	display: inline-block;
    padding: 0 0 3px 0;
    margin: 0;
	width: 100%;
}

table {
	width: 100%;
}

th {
	border: 1px hidden #5f9e2b;
	color: #fff;
	text-shadow: 1px 1px 1px #5f9e2b;
	height: 30px;
}

td {
	background: #bdcad4;
	color: #000;
    width: 45%;
	min-width: 100px;
    vertical-align: top;
}

td:first-child {
	width: 15%;
}

sup {
    font-size: 6px;
}

small {
    font-size: 8px;
}
