
/* Buttons */

.btn-group button {
    background: #fff;
    border: 1px solid #828c93;
    border-radius: 2px;
    color: #333;
    font-size: 14px;
    padding: 6px 0;
    margin: 5px;
    cursor: pointer;
}

.btn-group button:hover {
    background: #068dcc;
    border: 1px solid #333;
    color: #fff;
}

.btn-group button i {
    border-right: 1px solid rgba(64, 64, 64, 0.75);
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
	padding: 0 10px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
}

.btn-group button:hover i {
    color: #fff;
}

.close {
	background: none;
	border: 0;
    color: #333;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
    font-weight: normal;
    font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
	line-height: 1;
	padding: 0 3px;
	cursor: pointer;
    opacity: 0.5;
    outline: 0;
}

.close:hover {
    color: #D0021B;
    opacity: 1;
}
