@import './_common.scss';

/* Edit Note */

.edit-note {
    background: #bdcad4;

    form {
        position: relative;
        width: 100%;
    }

    h2 {
        display: inline-block;
        min-width: 100px;
        max-width: 200px;
        padding: 0 5px;
    }

    .top,
    .mid,
    .bottom {
        background-color: rgb(216, 227, 228);
        display: flex;
        flex: 3;
    }

    .top {
        position: relative;
        padding: 0;
    }

    .mid {
        padding: 0;
        margin: 2px 0;
    }

    .bottom {
        height: 100%;
    }

    /* NOTE Parts */

    input:focus,
    textarea:focus,
    select:focus,
    button:focus,
    .tags.is-focused,
    .add-notebook.is-focused {
        border-color: #c51752 !important;
    }

    .title,
    .url,
    .notebook,
    .add-notebook,
    .tags,
    .label-picker,
    .description {
        border: 1px solid #828c94;
    }

    .title,
    .url,
    .new-notebook {
        padding: 5px;
    }

    .title {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin: 0 2px 0 0;
        padding: 5px;
        flex: 2;
    }

    .select-notebook,
    .add-notebook {
        background: #fff;
        font-size: 14px;
        padding: 0;
        position: relative;
    }

    .notebook,
    .new-notebook {
        font-size: 14px;
        padding: 0 0 0 5px;
    }

    .notebook {
        background-color: #fff;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position: right 50%;
        border-radius: 0;
        padding: 0 4px;
        padding-right: 1.5em;
        vertical-align: top;
        height: 29px;

        flex: 1 auto;

        -webkit-appearance: none;
           -moz-appearance: none;
    }

    .new-notebook {
        border: 0;
        height: 27px;
        flex: 1;
    }

    .add-notebook {
        padding-right: 4px;

        .close {
            position: absolute;
            right: 4px;
            top: 4px;
        }
    }

    .url,
    .tags {
        display: inline-block;
        margin: 0;
    }

    .url {
        font-size: 14px;
        padding: 5px;
        margin: 0;
        flex: 2;
    }

    .label-picker {
        background: #fff;
        display: inline-block;
        position: relative;
        margin-left: 2px;
        padding: 0;

        label {
            display: inline-block;
            color: #757575;
            cursor: pointer;
        }

        .close {
            float: right;
            margin-top: 4px;
        }
    }

    .label-background {
        background: #fff;
        border: 1px solid #FFF;
        border-radius: 0;
        color: #333;
        font-style: inherit;
        display: inline-block;
        padding: 0px 4px;
        height: 100%;
        width: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .label-color-picker {
        position: absolute;
        width: 0;
        height: 0;
        top: 34px;
        z-index: 1;
    }

    .tags {
        vertical-align: top;
        margin: 0;
        flex: 3;
    }

    /* Description */
    textarea,
    textarea:active {
        font-size: 14px;
        resize: none;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        height: 82.7%;
    }

    .description {
        padding: 4px;
        height: 100%;
    }

    .placeholder {
        color: rgb(153, 153, 153);
        position: absolute;
        left: 5px;
        top: 5px;
    }

    /* Select2 Styles */

    .Select-control {
        border-radius: 0;
        border: 0;
    }

    .Select-placeholder,
    .Select--single > .Select-control .Select-value {
        line-height: 30px;
    }

    .Select-placeholder {
        padding: 0 0 0 5px;
    }

    .Select--multi .Select-value {
        background: #edf5ff;
        border: 1px solid #b8d8ff;
        color: #086995;
    }
}



/* Media Queries */

@media all and (max-width: 955px) {
    .edit-note .new-notebook {
        width: 86.2%;
    }
}

@media all and (max-width: 870px) {
    .edit-col {
        .top {
            flex-direction: column;
        }
        .bottom {
            height: 79.3%;
        }
        .title {
            margin: 0 0 2px 0;
        }
        .notebook {
            width: 100%;
        }
        .new-notebook {
            width: 93.5%;
        }
    }
}

@media all and (max-width: 768px) {
    .add-notebook {
        height: 30px;
    }
}

@media all and (max-width: 690px) {
    .edit-col {
        flex: 10 1;

        .add-notebook .new-notebook {
            width: 90%;
        }
        .select-notebook .notebook {
            width: 100%;
        }
    }
}

@media all and (max-width: 540px) {
    .edit-note {
        .edit-col {
            margin-top: 2px;

            .mid-top {
                flex-direction: column;
            }
        }
        .url {
            padding: 5px;
        }
        .bottom {
            height: 200px;
        }
    }
}
