/* Edit Note */

.edit-note {
    background: #d8e3e4; /* #bdcad4; */
    border: 1px solid #B8CDE0;
    width: 100%;
    height: 670px;
    overflow: hidden;
}

.edit-note form {
    position: relative;
}

.edit-note .top,
.edit-note .mid {
	display: block;
    padding: 5px;
    padding-bottom: 2px;
	width: 100%;
}

.edit-note .top {
    position: relative;
    padding: 0;
}

.edit-note .mid {
    padding: 0;
    margin: 2px 0;
}

.edit-note .bottom {
    background: #fff;
}

/* TODO: fix this */
.edit-note .top,
.edit-note .mid,
.edit-note .bottom {
	background-color: rgb(216, 227, 228);
	/* background-image: -webkit-gradient(linear, left top, left bottom,
    from( rgba(216, 227, 228, 0.9)),
    to( rgba(216, 227, 228, 0.3))
	);
	background-image: -webkit-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:    -moz-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:      -o-linear-gradient(top, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3));
	background-image:         linear-gradient(to bottom, rgba(216, 227, 228, 0.9), rgba(216, 227, 228, 0.3)); */
}


/* NOTE Parts */

.edit-note h2 {
	display: inline-block;
	min-width: 100px;
	max-width: 200px;
	padding: 0 5px;
}

.edit-note .title,
.edit-note .url,
.edit-note .notebook,
.edit-note .new-notebook,
.edit-note .tags,
.edit-note .description {
    border: 1px solid rgb(190, 202, 213);
}

.edit-note .title,
.edit-note .url,
.edit-note .new-notebook {
    padding: 5px;
}

.edit-note .title {
	position: relative;
	width: 60%;
	margin: 0;
}

.edit-note .notebook,
.edit-note .new-notebook {
    font-size: 14px;
    margin: 0 0 0 2px;
}

.edit-note .notebook {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 50%;
    border-radius: 0;
    padding: 0 4px;
	padding-right: 1.5em;
    vertical-align: top;
    height: 29px;
    width: 36.7%;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.edit-note .new-notebook {
    display: inline-block;
	position: absolute;
	padding: 0 3px;
    height: 27px;
    width: 35.2%;
}

.edit-note .cancel-new {
    background: rgba(80, 80, 80, 0.75);
	border: 1px solid #666c6d;
	border-radius: 12px;
	color: #fff;
	/* text-shadow: -1px -1px 0 rgb(53, 53, 53); */
	font-size: 10px;
	font-weight: bold;
	font-family: 'Helvetica';
	cursor: pointer;
	padding: 3px 6px;
	/* -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0 0 2px 0 rgba(94, 0, 0, 0.4);
	-o-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.73);
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.73); */
}

.edit-note .cancel-new {
	position: absolute;
	right: 0;
    padding: 1px 5px 3px 5px;
    vertical-align: top;
	z-index: 1;
}

.edit-note .url,
.edit-note .tags {
    display: inline-block;
    margin: 0;
}

.edit-note .url {
    font-size: 14px;
    padding: 7px 5px;
    margin: 0;
    width: 83.8%;
}

.edit-note .label-picker {
    background: #fff;
	border: 1px solid #bdcad4;
    display: inline-block;
    position: relative;
	padding: 5px 4px 4px 4px;
	margin-left: 2px;
}

/* Color picker cover for closing color picker on click */
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.edit-note .label-picker label {
	display: inline-block;
    color: #757575;
    cursor: pointer;
}

.edit-note .label-background {
    border: 1px solid #bdcad4;
	border-radius: 2px;
	display: inline-block;
	padding: 10px 20px;
	vertical-align: top;
	cursor: pointer;
}

.edit-note .label-color-picker {
    position: absolute;
	left: -201px;
	top: 36px;
    z-index: 1;
}

.edit-note .tags {
    margin: 2px 0 0 0;
    width: 99.3%;
    vertical-align: top;
}

.edit-note textarea,
.edit-note textarea:active {
    font-size: 14px;
    resize: none;
}

.edit-note .description {
	padding: 4px;
	width: 97.4%;
    min-height: 550px;
}

.edit-note .placeholder {
	color: rgb(153, 153, 153);
	position: absolute;
	top: 5px;
	left: 5px;
}


/* Select2 Styles */

.edit-note .Select-control {
    border-radius: 0;
    border: 0;
}

.edit-note .Select-placeholder,
.edit-note .Select--single > .Select-control .Select-value {
    line-height: 30px;
}

.edit-note .Select-placeholder {
    padding: 0 0 0 5px;
}

.edit-note .Select--multi .Select-value {
    background: #edf5ff;
    border: 1px solid #b8d8ff;
    color: #086995;
}
