/* Helpers */

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}
