/* Helpers */

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.hidden {
    @include hidden;
}

.invisible {
    @include invisible;
}

.visible {
    @include visible;
}

.truncate {
    @include truncate;
}

/* Clear backdrop for modals and popovers */
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.facebook {
    background: #3a589a !important;
    border-color: #2e457b !important;
}

.google {
    background: #df4a33 !important;
    border-color: #b93d2a !important;
}

.twitter {
    background: #51aaf1 !important;
    border-color: #4594d0 !important;
}

.github {
    background: #444444 !important;
    border-color: #373737 !important;
}
