/* Helpers */

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.facebook {
    background: #3a589a !important;
    border-color: #2e457b !important;
}

.google {
    background: #df4a33 !important;
    border-color: #b93d2a !important;
}

.twitter {
    background: #51aaf1 !important;
    border-color: #4594d0 !important;
}

.github {
    background: #444444 !important;
    border-color: #373737 !important;
}


.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Color picker cover for closing color picker on click */
.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
