

/* STRUCTURE */

.big-loader {
    text-align: center;
    margin-top: 100px;
}

.big-loader .loader {
    display: inline-block;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    background: #bdcad4;
    display: flex;
    flex-direction: row;
    padding-top: 2px;
}

.tagline {
    margin-left: 10px;
}

.loginout {
	float: right;
}

.loginout button {
    background: none;
    border: 0;
    color: #03A9F4;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

.loginout button:hover {
    color: #E91E63;
    text-decoration: underline;
}

.user-meta {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 10px;
}

.user-meta > div,
.user-meta img {
    width: 22px;
    vertical-align: middle;
}

.user-meta .username {
    margin-left: 5px;
	padding: 5px 0;
	vertical-align: middle;
}

.remove {
	background: none;
	border: 0;
	color: #999;
	font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
	line-height: 1;
	cursor: pointer;
	padding: 0 3px;
	margin-left: 1px;
	float: right;
}

.remove:hover {
    color: #D0021B;
}
