/* NOTE NAV */

.sidebar-nav {
    background: #bdcad4;
    height: 667px;
}

.wide-nav {
    background: #fff;
    border: 1px solid hsl(205, 7%, 54%);
    height: 100%;
    overflow-y: auto;

    .list-item > div > div {
        color: $blue-link;
        font-size: 14px;
        text-transform: capitalize;
        position: relative;
        margin-left: 0px;
        padding: 5px 5px 5px 22px;
    }
}

.wide-nav .note-nav {
    display: inline-block;
}

.narrow-nav.drawer-nav .note-nav {
    background: rgb(24, 16, 16);
    box-shadow: -5px 14px 25px #000;
    border: 1px solid #828c93;
    border-left: 0;
	padding: 5px 5px 20px 30px;
	vertical-align: top;
	position: fixed;
    left: -280px;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 3;
    transition: 0.5s; /* slide in/out */
}

.narrow-nav.drawer-nav .note-nav .close {
    font-size: 25px;
	position: absolute;
	right: 10px;
	z-index: 2;
}


/* NOTE NAV STYLES */

.note-nav {
    padding: 10px 0 0 10px;
    min-width: 200px;
    overflow: hidden;
    overflow-y: auto;

    > div {
        display: block;
        margin: 5px 0 0 5px;

        a {
            text-align: left;
        }
    }

    ul {
        margin-bottom: 10px;

        .expanded ul {
            display: block;
        }
    }

    ul ul {
        display: none;
    }


    ul ul li {
        display: block;
        margin: 1px 0 0 5px;
    }

    li > div {
        background: url('../img/arrow.png') no-repeat 1px 2px;
        color: $blue-link;
        text-decoration: none;
        padding: 0 0 0 14px;
        line-height: 16px;
        cursor: pointer;
    }

    li > a {
        border: 0;
        box-shadow: none;
        color: $blue-link;
        font-weight: normal;
    }

    li > div:hover,
    li > a:hover {
        text-decoration: underline;
    }

    li.tag-link > div {
        background: none;
    }

    li.expanded > div {
        background-position: 1px -10px;
        line-height: 16px;
    }

    li .name {
        text-transform: capitalize;
    }

    li .count {
        color: #999;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    .note-label {
        border: 1px solid #d0d0d0;
        border-radius: 24px;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        padding: 10px;
    }
}


/* Media Queries */

@media screen and (max-width: 820px) {
    .sidebar-nav {
        height: 0;
    }
    .main .wide-nav {
        display: none;
    }
    .toolbar .narrow-nav,
    .toolbar .narrow-nav .hamburger {
        display: inline-block;
        vertical-align: top;
    }
}

@media all and (max-width: 486px) {
    .wrapper .note-types .quick-access {
        display: none;
    }
    .edit-note {
        padding-top: 5px;
    }
}
