/* NOTE NAV */

.note-nav {
    background: #fff;
    border: 1px solid #B8CDE0;
	padding: 10px 0 0 10px;
    height: 670px;
    min-width: 200px;
    overflow: hidden;
	overflow-y: auto;
}


.wide-nav .note-nav {
    display: block;
}
.narrow-nav .note-nav {
    display: none;
}


.note-nav div {
    display: block;
    margin: 5px 0 0 5px;
}

.note-nav div a {
    text-align: left;
}

.note-nav ul {
	margin-bottom: 10px;
}

.note-nav ul ul {
    visibility: hidden;
    width: 100%;
}

.note-nav ul .expanded ul {
    visibility: visible;
}

.note-nav ul ul li {
    display: block;
	margin: 1px 0 0 5px;
}

.note-nav li > div {
	background: url('../img/arrow.png') no-repeat 1px 4px;
    color: #068dcc;
	text-decoration: none;
    padding: 0 0 0 14px;
    line-height: 16px;
    cursor: pointer;
}

.note-nav li > a {
    color: #068dcc;
    font-weight: normal;
}

.note-nav li > div:hover,
.note-nav li > a:hover {
	text-decoration: underline;
}

.note-nav li.tag-link > div {
	background: none;
}

.note-nav li.expanded > div {
    background-position: 1px -10px;
    line-height: 16px;
}

.note-nav li .count {
	color: #999;
}

.note-nav li .count:before {
	content: '(';
}

.note-nav li .count:after {
	content: ')';
}

.note-nav .note-label {
	border: 1px solid #d0d0d0;
	border-radius: 24px;
	display: inline-block;
	margin-right: 5px;
    padding: 10px;
    vertical-align: middle;
}




@media all and (min-width: 900px) {
    /* . { flex: 1 auto; } */
}

@media all and (min-width: 768px) {
    .notes-container {
        /* flex: 3 0px; */
    }
    .notes-container .wide-nav {
        display: none;
    }
    .narrow-nav .note-nav {
        position: absolute;
        width: 200px;
        z-index: 1;
    }
    /* .list-col {
        order: 1;
    }
    .edit-col {
        order: 2;
    } */
}
