/* NOTE TYPES */

.note-types {
	background: #e8eef2;
	border: solid #B8CDE0;
	border-width: 1px 0;
	display: block;
	padding: 2px 6px;
	width: 100%;

    ul {
        list-style: none;
    }

    li a {
        color: #068dcc;
        padding: 0 5px;
        margin: 1px;

        &:hover,
        &.active {
            background: #068dcc;
            border: 1px solid #769eda;
            border-radius: 2px;
            color: #fff;
            margin: 0;
        }
    }

    .quick-access {
        display: inline-block;
        margin-left: 5px;
    }
}
