/* NOTE NAV */

.sidebar-nav {
    background: #bdcad4;
}

.wide-nav {
    background: #fff;
    border: 1px solid hsl(205, 7%, 54%);
    height: 100%;
    overflow-y: auto;
}

.wide-nav .note-nav {
    display: inline-block;
}

.wide-nav.hidden,
.wide-nav .hamburger,
.narrow-nav .hamburger {
    display: none;
}

.note-nav {
    padding: 10px 0 0 10px;
    min-width: 200px;
    overflow: hidden;
	overflow-y: auto;
}

.narrow-nav .hamburger {
    border-right: 1px solid #000;
    -webkit-box-shadow: 1px 0px 0 0 rgba(255, 255, 255, 0.52);
            box-shadow: 1px 0px 0 0 rgba(255, 255, 255, 0.52);

    color: #fff;
    font-size: 16px;
    cursor: pointer;
	padding: 4px 10px;
}

.narrow-nav .hamburger:hover {
    background: #E91E63;
}

.narrow-nav.drawer-nav .note-nav {
    box-shadow: -5px 14px 25px #000;
	background: #fff;
    border: 1px solid #828c93;
    border-left: 0;
	padding: 5px 5px 20px 30px;
	vertical-align: top;
	position: fixed;
    left: -280px;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 3;
    transition: 0.5s; /* slide in/out */
}

.narrow-nav.drawer-nav .note-nav .remove {
    font-size: 25px;
	position: absolute;
	right: 10px;
	z-index: 2;
}

.note-nav > div {
    display: block;
    margin: 5px 0 0 5px;
}

.note-nav > div a {
    text-align: left;
}

.note-nav ul {
	margin-bottom: 10px;
}

.note-nav ul ul {
    display: none;
}

.note-nav ul .expanded ul {
    display: block;
}

.note-nav ul ul li {
    display: block;
	margin: 1px 0 0 5px;
}

.note-nav li > div {
	background: url('../img/arrow.png') no-repeat 1px 2px;
    color: #068dcc;
	text-decoration: none;
    padding: 0 0 0 14px;
    line-height: 16px;
    cursor: pointer;
}

.note-nav li > a {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #068dcc;
    font-weight: normal;
}

.note-nav li > div:hover,
.note-nav li > a:hover {
	text-decoration: underline;
}

.note-nav li.tag-link > div {
	background: none;
}

.note-nav li.expanded > div {
    background-position: 1px -10px;
    line-height: 16px;
}

.note-nav li .name {
    text-transform: capitalize;
}

.note-nav li .count {
	color: #999;
}

.note-nav li .count:before {
	content: '(';
}

.note-nav li .count:after {
	content: ')';
}

.note-nav .note-label {
	border: 1px solid #d0d0d0;
    border-radius: 24px;
    text-transform: capitalize;
	display: inline-block;
	margin-right: 5px;
    padding: 10px;
    vertical-align: middle;
}


/* Media Queries */

@media screen and (max-width: 820px) {
    .main .wide-nav {
        display: none;
    }
    .toolbar .narrow-nav,
    .toolbar .narrow-nav .hamburger {
        display: inline-block;
        vertical-align: top;
    }
}

@media all and (max-width: 486px) {
    .wrapper .note-types .quick-access {
        display: none;
    }
}
