/* TOOLBAR NAV */

.toolbar {
    background: #03A9F4;
	display: block;
    width: 100%;
}

.toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.toolbar li {
    display: inline-block;
}


/* NEW NOTE Styles */

.toolbar .new-note {
	background: #E91E63;
	position: absolute;
	right: 0;
	top: 0;
}

.toolbar .new-note button {
	background: none;
	border: 0;
	border-left: 1px solid #000;
	color: #fff;
    font-size: 14px;
	cursor: pointer;
	padding: 5px 50px 5px 15px;
	vertical-align: middle;
	line-height: 20px;
    overflow: hidden;

    -webkit-box-shadow: -1px 0px 0 0 rgba(255, 255, 255, 0.52);
            box-shadow: -1px 0px 0 0 rgba(255, 255, 255, 0.52);
}

.toolbar .new-note button .plus {
	background: #03A9F4;
	border-left: 1px solid rgb(243, 158, 212);
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 10px 6px;
	margin: 0 0 0 10px;
	-webkit-box-shadow: -1px 0px 0 0 rgb(0, 0, 0);
	        box-shadow: -1px 0px 0 0 rgb(0, 0, 0);
}

.toolbar .new-note:hover {
    background: #FF5722;
}

.toolbar .new-note:hover button .plus {
    /* background: #0471a5; */
	border-left: 1px solid rgb(185, 74, 0, 0.5);
}


/* TOOLBAR LINKS */

.toolbar a {
    border-right: 1px solid #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;

    -webkit-box-shadow: 1px 0px 0 0 rgba(255, 255, 255, 0.52);
            box-shadow: 1px 0px 0 0 rgba(255, 255, 255, 0.52);
}

.toolbar a:hover {
	background: #E91E63;
    color: #fff;
}

/* Toolbar Dropdown Menus */
.toolbar > ul > li > div {
    background: #fff;
	-webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 30px;
	z-index: 2;
}

.toolbar li > div > div > div {
    width: 100%;
	margin: 0 !important;
}

.toolbar li > div > div > div > div > div {
    padding: 6px 0 !important;
}


/* Media Queries */

@media all and (max-width: 490px) {
    .note-types div.quick-access {
        display: none;
    }

}

@media all and (max-width: 376px) {
    /* .toolbar ul li {
        display: none;
    }*/
}
