/* STRUCTURE */

.big-loader {
    text-align: center;
    margin-top: 100px;
}

.big-loader .loader {
    display: inline-block;
}

.add-note {
    position: absolute;
    right: 60px;
    bottom: 60px;
    z-index: 1;
}

.wrapper {
    border: 1px solid #B8CDE0;
    display: inline-block;
    width: 100%;
    padding: 0;

    background: rgb(238,238,238);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:    -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:     -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:      -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:         linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
}

.title {
    color: #000;
    display: inline-block;
	margin: 5px 5px 0 0;
	font-size: 14px;
	font-weight: bold;
}

.old-versions-nav a:hover {
    text-decoration: underline;
}

.loginout {
	float: right;
}

.loginout button {
    background: none;
    border: 0;
    color: hsl(199, 89%, 31%);
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

.loginout button:hover {
    text-decoration: underline;
}

.user-meta {
    margin-right: 10px;
}

.user-meta img {
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}


/* NOTE TYPES */

.note-types {
	border: solid #B8CDE0;
	border-width: 1px 0;
	padding: 2px;
	display: block;

	background: rgb(232,238,242);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,238,242,1)), color-stop(47%,rgba(242,245,246,1)), color-stop(100%,rgba(227,234,237,1)));
	background: -webkit-linear-gradient(top, rgba(232,238,242,1) 0%,rgba(242,245,246,1) 47%,rgba(227,234,237,1) 100%);
	background: -moz-linear-gradient(top, rgba(232,238,242,1) 0%, rgba(242,245,246,1) 47%, rgba(227,234,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(232,238,242,1) 0%,rgba(242,245,246,1) 47%,rgba(227,234,237,1) 100%);
	background: -o-linear-gradient(top, rgba(232,238,242,1) 0%,rgba(242,245,246,1) 47%,rgba(227,234,237,1) 100%);
	background: linear-gradient(to bottom, rgba(232,238,242,1) 0%,rgba(242,245,246,1) 47%,rgba(227,234,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eef2', endColorstr='#e3eaed',GradientType=0 );
}

.note-types ul {
    list-style: none;
}

.note-types li {}

.note-types li a {
    padding: 0 5px;
    margin: 1px;
}

.note-types li a:hover,
.note-types li a.active {
	background: rgba(85, 187, 255, 0.85);
	border: 1px solid rgb(118, 158, 218);
	color: #fff;
	text-shadow: 0 -1px 1px rgb(106, 144, 158),
				 1px 1px 0 rgb(126, 170, 187);
	margin: 0;

	-webkit-border-radius: 4px;
			border-radius: 4px;
}

/* COMBINED STYLES for the COLUMNS */

.left-nav,
.note-list,
.show-note {
    overflow: hidden;
    height: 670px;
}

.left-nav,
.note-list,
.show-note {
    background: #f8f8f8;
	border: 1px solid #B8CDE0;

	/* -webkit-box-shadow: 0 0 2px 0 rgba(100, 100, 100, 0.4);
			box-shadow: 0 0 2px 0 rgba(100, 100, 100, 0.4); */
}



.notes-list .filter-type,
.show-note select.notebook,
.show-note .new-notebook {
    font-size: 14px;
    margin: 0 0 0 2px;
}

.note-list .filter-type,
.note-list .viewing select,
.show-note select.notebook {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right 50%;
    border-radius: 0;
    padding: 0 4px;
	padding-right: 1.5em;
    vertical-align: top;
    height: 29px;
    width: 36.7%;

    -webkit-appearance: none;
    -moz-appearance: none;
}

