/* STRUCTURE */

.big-loader {
    text-align: center;
    margin-top: 100px;
}

.big-loader .loader {
    display: inline-block;
}

.add-note {
    position: absolute;
    right: 60px;
    bottom: 60px;
    z-index: 1;
}

.wrapper { }

.loginout {
	float: right;
}

.loginout button {
    background: none;
    border: 0;
    color: #03A9F4;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

.loginout button:hover {
    color: #E91E63;
    text-decoration: underline;
}

.user-meta {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 10px;
}

.user-meta img {
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.user-meta span {
	padding: 5px 0;
	vertical-align: middle;
}

.remove {
	background: none;
	border: 0;
	color: #999;
	font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
	line-height: 1;
	cursor: pointer;
    padding: 0 3px;
    margin-left: 1px;
}

.remove:hover {
    color: #D0021B;
}

.notes-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    height: 670px;
    position: relative;
}

.notes-container .nav-col,
.notes-container .list-col,
.notes-container .edit-col {
    display: inline-block;
    flex: 1 100%;
}

.notes-container .nav-col {
    flex: 1;
}

.notes-container .list-col {
    flex: 3;
}

.notes-container .edit-col {
    display: flex;
    flex: 3;
}
