/* STRUCTURE */

.big-loader {
    text-align: center;
    margin-top: 100px;
}

.big-loader .loader {
    display: inline-block;
}

.add-note {
    position: absolute;
    right: 60px;
    bottom: 60px;
    z-index: 1;
}

.wrapper {
    border: 1px solid #B8CDE0;
    display: inline-block;
    width: 100%;
    padding: 0;

    background: rgb(238,238,238);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:    -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:     -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:      -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	background:         linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
}

.title {
    color: #000;
    display: inline-block;
	margin: 5px 5px 0 0;
	font-size: 14px;
	font-weight: bold;
}

.old-versions-nav a:hover {
    text-decoration: underline;
}

.loginout {
	float: right;
}

.loginout button {
    background: none;
    border: 0;
    color: #03A9F4;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

.loginout button:hover {
    color: #E91E63;
    text-decoration: underline;
}

.user-meta {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 10px;
}

.user-meta img {
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.user-meta span {
	padding: 5px 0;
	vertical-align: middle;
}

.remove {
	background: none;
	border: 0;
	color: #999;
	font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial";
	line-height: 1;
	cursor: pointer;
    padding: 0 3px;
    margin-left: 1px;
}

.remove:hover {
    color: #D0021B;
}
