/* Import files */

// Import from node_modules thanks to the --include-path flag in npm script
// @import 'bootstrap/dist/css/bootstrap.css';
// @import 'bootstrap/dist/css/bootstrap-theme.css';

@import './styles/base.css';
@import './styles/helpers.css';
@import './styles/buttons.css';
@import './styles/modal.css';
@import './styles/main.css';
@import './styles/login.css';
@import './styles/settings.css';
@import './styles/welcome-msg.css';
@import './styles/toolbar.css';
@import './styles/note-types.css';
@import './styles/note-nav.css';
@import './styles/notes-container.css';
@import './styles/note-list.css';
@import './styles/edit-note.css';
@import './styles/label-color.css';

